.main-panel {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-navbar {
  background-color: #032541;
  padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important;
}

.nav-link-text {
  color: white !important;
  font-weight: 500 !important;
  font-size: 15px !important;
}

.search-icon {
  font-size: 24px !important;
  font-weight: bolder !important;
  color: #01b4e4 !important;
}

.nav-link-plus {
  font-size: 27px !important;
  font-weight: 600 !important;
  color: white;
}

.language-box {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 600;
  transition: 0.3s;
}

.language-box:hover {
  background-color: white;
  color: #032541;
}

.main-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.main-logo {
  cursor: pointer;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.align-items {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none !important;
}

@media (max-width: 576px) {
  .main-container {
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
  }

  .main-panel-width {
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
  }
}

@media (min-width: 576px) {
  .main-panel-width {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-panel-width {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-panel-width {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-panel-width {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .main-panel-width {
    max-width: 1320px;
  }
}

footer {
  background-color: #03233e;
  height: 100%;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

footer ul {
  margin: 0px;
  padding: 0px;
}

footer ul li {
  list-style: none;
  color: white;
}

footer ul li a {
  font-size: 17px;
  color: white;
  text-decoration: none;
}

footer a.join-link {
  position: relative;
  top: 20px;
  right: 90px;
  background-color: white;
  color: rgba(1, 180, 228, 1);
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 8px;
  text-decoration: none;
  width: 221px;
  margin-top: 25px;
}
